body {
  width: 100%;
  height: 100%;
  font-family: 'Indie Flower', cursive;
  color: #fff;
  background-color: #000; }

html {
  width: 100%;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  letter-spacing: 1px; }

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5; }

@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6; } }
a {
  color: #42dca3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    color: #1d9b6c; }

.light {
  font-weight: 400; }

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #000; }
  .navbar-custom .navbar-brand {
    font-weight: 700; }
    .navbar-custom .navbar-brand:focus {
      outline: 0; }
    .navbar-custom .navbar-brand .navbar-toggle {
      padding: 4px 6px;
      font-size: 16px;
      color: #fff; }
      .navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
        outline: 0; }
  .navbar-custom a {
    color: #fff; }
  .navbar-custom .nav li a {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out; }
    .navbar-custom .nav li a:hover {
      outline: 0;
      color: rgba(255, 255, 255, 0.8);
      background-color: transparent; }
    .navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
      outline: 0;
      background-color: transparent; }
  .navbar-custom .nav li.active {
    outline: 0; }
    .navbar-custom .nav li.active a {
      background-color: rgba(255, 255, 255, 0.3); }
      .navbar-custom .nav li.active a:hover {
        color: #fff; }

.navbar-forum {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #2E363A; }
  .navbar-forum .navbar-brand {
    font-weight: 700; }
    .navbar-forum .navbar-brand:focus {
      outline: 0; }
    .navbar-forum .navbar-brand .navbar-toggle {
      padding: 4px 6px;
      font-size: 16px;
      color: #000; }
      .navbar-forum .navbar-brand .navbar-toggle:focus, .navbar-forum .navbar-brand .navbar-toggle:active {
        outline: 0; }
  .navbar-forum a {
    color: #000; }
  .navbar-forum .nav li a {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out; }
    .navbar-forum .nav li a:hover {
      outline: 0;
      color: rgba(255, 255, 255, 0.8);
      background-color: transparent; }
    .navbar-forum .nav li a:focus, .navbar-forum .nav li a:active {
      outline: 0;
      background-color: transparent; }
  .navbar-forum .nav li.active {
    outline: 0; }
    .navbar-forum .nav li.active a {
      background-color: rgba(255, 255, 255, 0.3); }
      .navbar-forum .nav li.active a:hover {
        color: #fff; }

@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out; }
    .navbar-custom.top-nav-collapse {
      padding: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      background: #000; 
      }
    .navbar-forum{
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;

        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out,color 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out, color 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out,color 0.5s ease-in-out; }
        .navbar-forum.top-nav-collapse {
          padding: 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          background: #2E363A; 
        }
          .navbar-forum.top-nav-collapse.navbar-forum a{
            color:#FFF;
            -webkit-transition: color 0.5s ease-in-out;
            -moz-transition: color 0.5s ease-in-out;
             transition: color 0.5s ease-in-out; 
          }
          
    }

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  .intro .intro-body {
    display: table-cell;
    vertical-align: middle; }
    .intro .intro-body .brand-heading {
      font-size: 40px; }
    .intro .intro-body .intro-text {
      font-size: 18px; }

@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0; }
    .intro .intro-body .brand-heading {
      font-size: 100px; }
    .intro .intro-body .intro-text {
      font-size: 26px; } }
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 100% !important;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out; }
  .btn-circle:hover, .btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, 0.1); }
  .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s; }
  .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1); }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -moz-transform: scale(1);
    transform: scale(1); } }
.content-section {
  padding-top: 10px; }

.daftarkan {
  width: 100%;
  height: 100%;
  padding-top: 180px;
  text-align: center;
  background-repeat: repeat;
  background-color: #C23B22;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.err {
  width: 100%;
  height: 80%;
  padding-top: 180px;
  text-align: center;
  background-repeat: repeat;
  background-color: #AE0C00;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.hovering {
  -webkit-transition: border .3s;
  transition: border .3s;
  border: 8px solid transparent;
  border-style: dashed;
  padding-top: 10px;
  padding-bottom: 10px; }
  .hovering:hover {
    -webkit-transition: border 1s;
    transition: border 1s;
    border: 8px solid #42dca3;
    border-style: dashed;
    padding-top: 10px;
    padding-bottom: 10px; }

.hovering2 {
  transition: background-color .5s;
  background-color: #fcf8e3;
  color: black; }
  .hovering2:hover {
    transition: background-color .5s;
    background-color: black;
    color: #fcf8e3; }

.round {
  -webkit-transition: opacity .5s;
  transition: .5s;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  opacity: .4;
  overflow: hidden;
  padding: 5px 4px;
  margin: 30px; }
  .round:hover {
    -webkit-transition: opacity .5s;
    transition: .5s;
    opacity: 1; }
  .round img {
    width: 45px; }

.behindts {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  text-align: center;
  background-repeat: repeat;
  background-color: #3369E8;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.download-section {
  width: 100%;
  padding: 50px 0;
  color: #C23B22;
  background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

#map {
  width: 100%;
  height: 200px;
  margin-top: 100px; }

@media (min-width: 767px) {
  .content-section {
    padding-top: 250px;
    padding-bottom: 150px; }

  .download-section {
    padding: 100px 0; }

  #map {
    height: 400px;
    margin-top: 250px; } }
.fadeInBlock {
  opacity: 0; }

.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.btn-default {
  border: 1px solid #42dca3;
  color: #000;
  background-color: #FDFD96; }
  .btn-default:hover, .btn-default:focus {
    border: 1px solid #42dca3;
    outline: 0;
    color: #000;
    background-color: #42dca3; }

ul.banner-social-buttons {
  margin-top: 0; }

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px; } }
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0; }
    ul.banner-social-buttons li:last-child {
      margin-bottom: 0; } }
footer {
  padding: 50px 0; }
  footer p {
    margin: 0; }

::-moz-selection, ::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2); }

img::selection, img::-moz-selection {
  background: 0 0; }

body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2); }

img.tooltip {
  outline: none; }
  img.tooltip strong {
    line-height: 30px; }
  img.tooltip:hover {
    text-decoration: none; }
  img.tooltip span {
    z-index: 10;
    display: none;
    padding: 14px 20px;
    margin-top: -30px;
    margin-left: 28px;
    width: 300px;
    line-height: 16px; }
  img.tooltip:hover span {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0; }

.callout {
  z-index: 20;
  position: absolute;
  top: 30px;
  border: 0;
  left: -12px; }

/*CSS3 extras*/
img.tooltip span {
  border-radius: 4px;
  box-shadow: 5px 5px 8px #CCC; }

/*# sourceMappingURL=style.css.map */
