.kuliah {
	background-image:url(../images/sample/subforum/kuliah.png);
	width:880px;
	height:150px;
	margin-top: 30px;
	margin-left: 90px;
	box-shadow: 0px 4px 10px 0px #888888;
}

.bebas {
	background-image:url(../images/sample/subforum/bebas.png);
	width:880px;
	height:150px;
	margin-top: 30px;
	margin-left: 90px;
	box-shadow: 0px 4px 10px 0px #888888;
}

.judul_info {
	color:#FFFFFF;
	background-color:#2E363A;
	width:20%;
	padding:5px;
	float:right;
	text-align:right;
	margin-top:100px;
}

.cat {

	background-color:#F1F1F1;
	width: 880px;
	height: 440px;
	margin-left: 90px;
	margin-top: 20px;

}

.subcat {
	font-weight:normal;
	margin: 10px;
	padding: 10px;
	width: 20%;
	float:left;
	font-size:12px;
}

.parental {
	color:#000;
	font-weight:bold;
	font-size:14px;
	margin: 10px;
	font-family: 'Quicksand', sans-serif;
}

.subforum {
	margin-left:20px;
	font-size: 12px;
}

#footer {
	margin-top:-75px;
	}