.judul {
	background-image:url(../images/sample/subforum/games.png);
	height:150px;
	box-shadow: 0px 4px 10px 0px #888888;
}

#footer{
	margin-top:-80px;
}

#judul_info {
	color:#FFFFFF;
	background-color:#2E363A;
	width:auto;
	padding-left:10px;
	float:right;
	text-align:right;
	margin-top:100px;
}

#navigation {
	color:#FFFFFF;
	background-color:#2E363A;
	width:auto;
	padding:5px;
	float:left;
	text-align:right;
}

#postnew {
	color:#FFFFFF;
	background-color:#F72E2E;
	position:absolute;
	width:auto;
	padding:5px;
	top:auto;
	left:auto;
	margin-top:40px;
	font-weight:bold;
}

.thread {
	background-color:#F1F1F1;
	width:100%;
	height:90px;
	margin:10px;
}

.paging {
	width:73%;
	text-align:center;
}

.tag {
	margin-top:30px;
	margin-left:20px;
	width:5%;
	float:left;
}

.momod{
	color:#000;
	background-color:#F1F1F1;
	height: 200px;
	margin-top: 10px;
}

.judul_momod{
	height: 30px;
	padding: 20px; 
	background-color: #888888;
}

.isi_momod{
	height: auto;
}
.title {
	margin:10px;
	height:70px;
	color: #000;
	float:left;
}

.title_info1 {
	width:auto;
	font-weight:bold;
}

.title_info2 {
	font-size:12px;
	margin-top:-3px;
}

.title_info3 {
	font-size:12px;
	margin-top:10px;
}


.lastpost {
	margin:10px;
	height:70px;
	width:19%;
	float:right;
	font-size:12px;
	color: #000;
}

.reply {
	color: #000;
	margin:10px;
	padding-left: 30px;
	height:70px;
	width:12%;
	float:left;
	font-size:13px;
}